rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn(){return request.auth != null;}
    function owner(uid){return signedIn() && request.auth.uid == uid;}
    match /users/{uid}{
      allow read: if true;
      allow create:if owner(uid) && request.resource.data.uid == uid;
      allow update:if owner(uid) && request.resource.data.uid == resource.data.uid;
      allow delete:if owner(uid);
    }
    match /posts/{postId}{
      allow read: if true;
      allow create:if signedIn() && request.resource.data.uid == request.auth.uid
        && request.resource.data.imageUrl is string
        && request.resource.data.title is string
        && request.resource.data.title.size() > 0
        && request.resource.data.title.size() <= 120
        && request.resource.data.description is string
        && request.resource.data.description.size() <= 2000
        && request.resource.data.tags is list
        && request.resource.data.tags.size() <= 20;
      allow update:if signedIn() && resource.data.uid == request.auth.uid && request.resource.data.uid == resource.data.uid;
      allow delete:if signedIn() && resource.data.uid == request.auth.uid;
    }
    match /posts/{postId}/comments/{commentId}{
      allow read: if true;
      allow create:if signedIn() && request.resource.data.uid == request.auth.uid;
      allow update,delete:if signedIn() && resource.data.uid == request.auth.uid;
    }
  }
}